body,
html,
#app {
    font-family: $font-family;
    height: 100%;
}

.btn:focus,
.navbar-toggler:focus {
    box-shadow: none !important;
}

.error-message:first-letter {
    text-transform: capitalize !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}